.element {
  border-radius: 100%;
  box-shadow: 1px -7px 5px 0px rgba(92, 80, 89, 0.6) inset;
}

.rock {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.paper {
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.scissors {
  background-image: linear-gradient(#ec9e0e, #eca922);
}

.element-white {
  box-shadow: 1px 3px 5px 0px rgba(92, 71, 71, 0.59) inset;
}